xmlll/Students.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   
    <xs:element name="Students">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="Student" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>

                            <!-- FirstName -->
                            <xs:element name="FirstName">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                    
                            <xs:element name="FamilyName">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                     
                            <xs:element name="Age">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="16"/>
                                        <xs:maxInclusive value="150"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                     
                            <xs:element name="Address" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="Number">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="0"/>
                                                    <xs:maxInclusive value="999"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>

                                        <xs:element name="City">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>

                                        <xs:element name="PostalCode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{5}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="Level">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="1L"/>
                                        <xs:enumeration value="2L"/>
                                        <xs:enumeration value="3L"/>
                                        <xs:enumeration value="1M"/>
                                        <xs:enumeration value="2M"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                     
                            <xs:element name="Speciality">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="ComputerScience"/>
                                        <xs:enumeration value="Physics"/>
                                        <xs:enumeration value="Chemistry"/>
                                        <xs:enumeration value="Mathematics"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                        
                            <xs:element name="Average" default="0.00">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0.00"/>
                                        <xs:maxInclusive value="20.00"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                        </xs:sequence>

             
                        <xs:attribute name="RegistrationNumber" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[0-9]{8}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>

                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
